/*===============================
Start Product Categories Area
================================*/
#products-category-wrapper {
  background-color: #f7f7f7;
  padding: 90px 0;

  @media #{$large-mobile, $tablet-device} {
    padding: 50px 0;
  }

  .product-categories-wrap {
    margin-top: -30px;

    img {
      width: 100%;
    }
  }
}

.single-product-category {
  margin-top: 30px;
  .product-category-thumb {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
      background-color: rgba($black, 0.3);
      content: '';
      position: absolute;
      height: 175px;
      left: 0;
      bottom: -65px;
      @include transform(skewY(-16deg));
      width: 100%;
    }

    &:after {
      background-color: rgba($black, 0.3);
      content: '';
      position: absolute;
      height: 175px;
      left: 0;
      bottom: -200px;
      @include transform(skewY(-16deg));
      width: 100%;
      @include opacity(0);
      visibility: hidden;
      @include transition(0.2s);
      transition-delay: 0s;
      z-index: 1;
    }

    .product-category-text {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 50px;
      z-index: 2;
      h2 {
        @include font-noline(20);
        text-transform: uppercase;
        font-weight: 900;
        color: $white;
      }
    }
  }

  &:hover {
    .product-category-thumb {
      &:after {
        bottom: -65px;
        @include opacity(1);
        visibility: visible;
      }

      &:before {
        @include opacity(0);
        visibility: hidden;
      }
    }
  }
}